# Node.js
node_modules/
.expo/
dist/
npm-debug.log*
defence.md
# Python & IA
ia_service/
ia_service/venv/
ia_service/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
# Se tiveres logs da IA
ia_service/*.log

# Dados Pesados & Treino
ia_service/dataset/
ia_service/train/dataset/
backend/uploads/
*.pth
# Exceção: queremos o modelo final, mas não os checkpoints de treino
!ia_service/app/model/best_model.pth 
!ia_service/README.md
# Ambiente e IDE
.env
.vscode/
.idea/
DS_Store